server {
    listen      80 default_server;
    root        ${NGINX_ROOT};

    location / {
        try_files $uri @proxy;
    }

    location /upload/support/not_image {
        deny all;
    }

    location ~* /upload/.*\.(php|php3|php4|php5|php6|phtml|pl|asp|aspx|cgi|dll|exe|shtm|shtml|fcg|fcgi|fpl|asmx|pht|py|psp|rb|var)$ {
        types {
            text/plain text/plain php php3 php4 php5 php6 phtml pl asp aspx cgi dll exe ico shtm shtml fcg fcgi fpl asmx pht py psp rb var;
        }
    }

    location ~* ^/upload/1c_[^/]+/ {
        deny all;
    }

    location @proxy {
        resolver     1.1.1.1;
        proxy_method GET;
        proxy_pass   ${PROXY_ADDR}/$uri;
    }

    error_page 404 /404.html;
    location = /404.html {
        internal;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        internal;
    }
}
