server {
    listen      80;
    server_name ~^(www\.)?(?<project>.+)(\.localhost)$;;
    root        ${NGINX_ROOT}/$project;
    set         $fpm_root ${FPM_ROOT}/$project;
    include     include/server_bitrix;
}
